<!DOCTYPE html>
<html>
    <head>
        <title>Energy Consumption Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Energy Consumption Predictor</h1>
            <form action="/predict" method="post">
                <label for="power">Power:</label>
                <input type="text" id="power" name="power"><br><br>
                <label for="voltage">Voltage:</label>
                <input type="text" id="voltage" name="voltage"><br><br>
                <label for="temperature">Temperature:</label>
                <input type="text" id="temperature" name="temperature"><br><br>
                <label for="humidity">Humidity:</label>
                <input type="text" id="humidity" name="humidity"><br><br>
                <label for="time">Time (hours):</label>
                <input type="text" id="time" name="time"><br><br>
                <label for="model">Model:</label>
                <select id="model" name="model">
                    <option value="model1">Linear Regressor</option>
                    <option value="model2">Multiple Linear Regressor</option>
                </select><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        
    </body>
</html>

